<!-- new message (in existing thread) -->

<form action="<%= message_thread_messages_url(message_thread) %>" method="POST">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden" name="message[author_id]" value="<%= current_user.id %>">
  <input type="hidden" name="message[message_thread_id]" value="<%= message_thread.id %>">

  <div class='textarea'>
    <textarea name="message[text]"></textarea>
  </div>

  <div class='submit'>
    <input type="submit" value="Submit Reply">
  </div>

</form>