<!-- messages index (nested under a thread) -->

<div class='messages'>
  <% @message_thread.messages.each do |message| %>
    <div class='message group'>
      <%= render 'message', :message => message, :message_thread => @message_thread %>
    </div>
  <% end %>
</div>


<div class='new-message'>
<%= render 'new_message', :message_thread => @message_thread %>
</div>
