<!-- new message (in existing thread) -->

<form action="message_threads_url" method="POST">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden" name="message[author_id]" value="<%= current_user.id %>">

  <textarea name="message[text]"></textarea>

  <input type="submit" value="Submit Reply">
</form>