<div class='sign-in'>

  <form action="<%= session_url %>" method="POST">
    <%= render 'helpers/auth_token'%>

    <div class='text-input email'>
      <div class='text'>Email</div>
      <input name="user[email]" type="text" value="">
    </div>

    <div class='text-input password'>
      <div class='text'>Password</div>
      <input name="user[password]" type="password" value="">
    </div>


    <div class="submit link submit-link">
      <input type="submit" value="Sign In">
    </div>
  </form>



</div>