
<% class_name = post.class.to_s %>

<% if (class_name == "Comment") %>
  <% action = comment_replies_url(post) %>
<% elsif (class_name == "Status") %>
  <% action = status_replies_url(post) %>
<% elsif (class_name == "PhotoComment")%>
  <% action = photo_comment_replies_url(post)%>
<% end %>

<div class='replies group'>
  <% post.replies.each do |reply| %>
    <%= render 'replies/reply', :reply => reply %>
  <% end %>

  <%= render 'replies/new_reply', :post => post, :action => action, :class_name => class_name %>
</div>


