<div class='edit-reply'>
  <div class='text heading'>Edit Reply</div>
  <form action="<%= reply_url(@reply) %>" method="POST">
    <%= render 'helpers/auth_token'%>

    <input name="_method" type="hidden" value="PUT">

    <div class='textarea'>
      <textarea name="reply[text]"><%= @reply.text %></textarea>
    </div>

    <div class='submit link'>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>