<form action="<%= reply_url(@reply) %>" method="POST">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input name="_method" type="hidden" value="PUT">

  <div class='textarea'>
    <textarea name="reply[text]"><%= @reply.text %></textarea>
  </div>

  <div class='submit'>
    <input type="submit" value="Submit">
  </div>
</form>