<div class='birthdate'>
  <div class='text heading'>Birthdate</div>

  <div class='dates group'>
    <%= render 'profiles/birthdate/month', :profile => profile%>
    <%= render 'profiles/birthdate/day', :profile => profile %>
    <%= render 'profiles/birthdate/year', :profile => profile %>
  </div>
</div>