<div class='employment group'>
  <div class='text heading'>Employment Info</div>
  <div class='job'>
    <div class='text'>Job</div>
    <input name="profile[job]" value="<%= profile.job %>">
  </div>
  <div class='employer'>
   <div class='text'>Employer</div>
  <input name="profile[employer]" value="<%= profile.employer %>">
  </div>
</div>