<div class='geography group'>
  <div class='text heading'>Geography</div>
  <div class='current-city'>
    <div class='text'>Current City</div>
    <input name="profile[current_city]" value="<%= profile.current_city%>">
  </div>


  <div class='home-city'>

    <div class='text'>Home City</div>
    <input name="profile[home_city]" value="<%= profile.home_city%>">

  </div>
</div>