<div class='text heading'>Name</div>
<div class='names group'>

  <div class='first-name'>
    <div class='text'>
      First Name
    </div>
    <div class='input'>
      <input type='text' name="profile[first_name]" value="<%= profile.first_name %>">
    </div>
  </div>

  <div class='last-name'>
    <div class='text'>Last Name</div>
    <div class='input text'>
      <input name="profile[last_name]" value="<%= profile.last_name%>">
    </div>
  </div>

</div>