<div class='profile-picture'>
  <div class='text heading'>Profile Picture</div>
  <div class='url'>
    <div class='text'>URL</div>
    <input name="profile[photo_url]" value="<%= profile.photo_url %>">
  </div>
</div>