<div class='info'>
  <div><%= "Current City: #{@profile.current_city}" if @profile.current_city != "" %></div>
  <div><%= "Home City: #{@profile.home_city}" if @profile.home_city != "" %></div>
</div>