<div class='info'>
  <div>
    <% if profile.relationship_status != "" %>
      Relationship Status:
      <%= profile.relationship_status %>
    <% end %>
  </div>

  <div>
    <% if profile.interested_in != "" %>
      Interested In:
      <%= profile.interested_in %>
    <% end %>
  </div>
</div>