<div class='info'>
  <div> <%= "Relationship Status: #{@profile.relationship_status}" if @profile.relationship_status != ""%></div>
  <div> <%= "Interested In: #{@profile.interested_in}" if @profile.interested_in != ""%></div>
</div>