<div class='search group'>
  <form class='search-form' action='<%= search_results_url %>' method="GET">
    <div class='query'><input name="query" value=""></div>
    <input type="submit" class="link submit-link" value="Find People">
  </form>
</div>