<div class='result group'>
  <% if current_user.all_friends.include?(user) %>
    <%= render 'helpers/pic_and_name', :user => user%>
  <% elsif user != current_user %>
    <%= render 'helpers/not_friend', :user => user %>
  <% end %>
</div>