<!-- search results -->

<% if @users.count == 0 %>
  <div class='text heading'>No Search Results</div>
<% end %>

<div class='search-results'>
  <% @users.each do |user| %>
    <%= render 'result', :user => user %>
  <% end %>
</div>

