
<div class='new-status group'>
  <% if (user == current_user)%>
    <%= render 'statuses/form', :status => Status.new %>
  <% elsif current_user.all_friends.include?(user) %>
    <%= render 'comments/form', :comment => Comment.new %>
  <% end %>
</div>