<!-- one message thread -->
<% user = message_thread.creator %>
<% num_recipients = message_thread.num_recipients %>

<%= render 'message_header', :message_thread => message_thread,
:user => user %>

<div class='link submit-link delete'>
  <%= link_to "Delete", message_thread_url(message_thread), method: :delete %>
</div>


