<!-- message thread index -->

<%= render 'helpers/you', :user => current_user %>

<div class='message-threads group'>
  <% unless @message_threads.count == 0 %>
    <% @message_threads.each do |message_thread| %>
      <div class='message-thread group'>
        <%= render "message_thread_partial", :message_thread => message_thread %>
      </div>
    <% end %>
  <% end %>

  <div class='link submit-link create-thread'>
    <%= link_to "Create New Thread", new_message_thread_url, remote: true %>
  </div>

  <% if @message_threads.count == 0 && current_user.name == "Jeff Doe"%>
    <div class='demo demo-messages submit link submit-link'>
      <%= link_to "Demo Messages", demo_messages_url, method: :post, remote: true %>
    </div>
  <% end %>
</div>