<div class="pic-and-name">
  <div class="pic">
    <img src="<%= current_user.profile.photo_url %>" width='200' height='200'></img>
  </div>

  <div class='name'>
    <%= current_user.name %>
  </div>

  <div class='notifications-link'>
    <%= link_to "Notifications" %>
  </div>
</div>