<div class='month'>
  <div class='text'>Month</div>
  <select name="profile[birth_month]">
    <option value="">
    <% ["January", "February", "March", "April",
    "May","June","July","August",
    "September","October","November","December"].each do |month| %>
    <option value="<%= month %>" <%= 'selected' if month == profile.birth_month %>> <%= month %>
      <% end %>
  </select>
</div>