<div class='sent-request group'>
  <%= render 'helpers/pic_and_name', :user => user %>

  <div class='link revoke-request'>
  <%= link_to "Revoke Request",
  pending_friendship_url(pending_friendship), :method => :delete, remote: true %>
  </div>
</div>