<!-- Index of Pending Friendships -->

<div class='friend-requests'>
  <%= render 'received_requests',
  :reqs_received => @reqs_received %>

  <%= render 'sent_requests',
  :reqs_sent => @reqs_sent %>
</div>