<!-- Index of Pending Friendships -->

<div class='text heading'>Received Requests:</div>
<% @reqs_received.each do |req| %>
  <%= render "received_request",
  :pending_friendship => req,
  :user => req.user %>
<% end %>

<div class='text heading'>Sent Requests:</div>
<% @reqs_sent.each do |req| %>
  <%= render "sent_request",
  :user => req.pending_friend %>
<% end %>

