<!-- Index of Pending Friendships -->

<%= render 'helpers/you', :user => current_user %>


<div class='friend-requests group'>

  <%= render 'received_requests',
  :reqs_received => @reqs_received %>

  <%= render 'sent_requests',
  :reqs_sent => @reqs_sent %>
</div>