<% unless like.liker == current_user %>
    <a class='gray'><%= like.liker.name %></a>
  likes

  <% if like.post_type == 'Status'%>
    your <a class='gray'>status</a>:
  <% elsif like.post_type == 'Comment' %>
    <% if like.post.author == current_user %>
      your <a class='gray'>comment</a>:
    <% else %>
      <%= like.post.author.name %>'s <a class='gray'>comment</a>:
    <% end %>
  <% elsif like.post_type == 'PhotoComment'%>
    your <a class='gray'>photo</a>:
  <% end %>

  <div class='notification-body'>
    <%= like.post.text %>
  </div>
<% end %>