<img src="<%= @user.profile.photo_url %>"></img>

<section>
  <%= @user.profile.first_name %> <%= @user.profile.last_name %>
  <%= @user.email %>
</section>

<section>
  <button >Timeline</button>
  <button >About</button>
  <button >Photos</button>
  <button >Friends</button>
  <button >Message</button>
  <button >Unfriend</button>
</section>

