<!-- Friends index page -->

<% @user.all_friends.each do |friend| %>
  <p>
    <div class="image">
      <%= @user.photo %>
    </div>

    <div class="link">
      <%= link_to friend.name, user_statuses_url(friend) %>
    </div>

    <% if (current_user.all_friends.include?(friend))%>
      <div class='link'>
        <%= button_to "Unfriend",
        friendship_url(@user.friendship_with(friend)), method: :delete %>
      </div>
    <% end %>

    <% if (friend != current_user)%>
      <div class='link'>
        <%= link_to "Mutual Friends", user_mutual_friends_url(friend)%>
      </div>
    <% end %>
  </p>


<% end %>