<!-- Friends index page -->

<div class='friends'>
  <% @user.all_friends.each do |friend| %>
    <div class='friend group'>
      <%= render 'helpers/pic_and_name', :user => friend %>

      <% if (current_user.all_friends.include?(friend))%>
      <div class='links'>
        <div class='link'>
          <%= link_to "Unfriend",
          friendship_url(@user.friendship_with(friend)), method: :delete %>
        </div>
      <% end %>

      <% if (friend != current_user)%>
        <div class='link'>
          <%= link_to "Mutual Friends", user_mutual_friends_url(friend)%>
        </div>
      <% end %>
    </div>
  </div>


  <% end %>

</div>