<!-- Friends index page -->
<% if current_user == @user %>
  <%= render 'helpers/you', :user => current_user %>
<% else %>
  <%= render 'helpers/friend', :user => @user %>
<% end %>

<% if @user.all_friends.count == 0 %>
  <div class='text heading'>No Friends Yet</div>
<% end %>

<div class='friends'>
  <% @user.all_friends.each do |friend| %>
    <%= render 'friend', :friend => friend, :user => @user %>
  <% end %>
</div>