<% current_user.all_friends.each do |friend| %>
  <!-- should refactor using searching -->
  <div class='checkbox'>
    <input type="checkbox" name="<%= name %>"
    value="<%= friend.id %>">
    <%= friend.name %>
  </div>
<% end %>