<img src="<%= @user.profile.photo_url %>"></img>

<section>
  <%= user.name %>
  <%= user.email %>
</section>

<section>
  <button >Timeline</button>
  <button >About</button>
  <button >Photos</button>
  <button >Friends</button>
  <button >Message</button>
  <button >Unfriend</button>
</section>