<img src="<%= @user.profile.photo_url %>"></img>

<section>
  <%= @user.profile.first_name %> <%= @user.profile.last_name %>
</section>

<section>
  <button >Friend</button>
  <button >Message</button>
  <button >Mutual Friends</button>
</section>