<section class='top-bar'>
  <%= current_user.name %>

  <%= button_to "Friend Requests", pending_friendships_url, method: :get %>
  <button>Messages</button>
  <button>Notifications</button>
  <%= button_to "My Page", user_url(current_user), method: :get %>
  <%= button_to "Sign Out", session_url, method: :delete %>
  Search:
  <input>
</section>
