<img src="https://www.google.com/search?q=facebook+logo&espv=210&es_sm=91&source=lnms&tbm=isch&sa=X&ei=xG0CU4euMeKpsAS97ICIBg&ved=0CAkQ_AUoAQ&biw=1393&bih=986#facrc=_&imgdii=_&imgrc=iyp5jYuG6TSRFM%253A%3B9U-sNktTKjY5HM%3Bhttp%253A%252F%252F1.bp.blogspot.com%252F-lq-17WcxGZ0%252FTmyetQLoHRI%252FAAAAAAAAAEU%252FSNknwgtOe0I%252Fs1600%252Ffacebook_logo.png%3Bhttp%253A%252F%252Felioguevara.blogspot.com%252F2013%252F01%252Ffacebook-logo.html%3B710%3B739"
height="50" width="50">

<section class='top-bar'>
  <input>
  <button>Friend Requests</button>
  <button>Message</button>
  <button>Notifications</button>
  <button>My Page</button>
  <button>Sign Out</button>
</section>
