<form action="<%= profile_url(current_user) %>" method="POST">
  <input name="_method" type="hidden"
  value="PUT">

  <%= render 'helpers/auth_token'%>

  <input type="hidden" name="profile[photo_url]" value="<%= photo.url %>">

  <div class='link'>
    <input type="submit" value="Make Profile Picture">
  </div>
</form>