<div class='people-tagged'>
  <% if photo.tagged_users.empty? == false %>
    <div class='text heading'>People tagged:</div>
  <% end %>

  <% photo.tagged_users.each do |user| %>
    <%= render 'person_tagged', :user => user, :photo => photo %>
  <% end %>
</div>