<div class='people-tagged'>
  <% if photo.tagged_users.empty? == false %>
    <div class='text heading'>People tagged:</div>
  <% end %>

  <% photo.tagged_users.each do |user| %>

    <div class='person-tagged group'>

      <div class='username'>
        <%= link_to user.name, user_statuses_url(user)%>
      </div>

      <% if (current_user == photo.uploader) || (current_user == user)%>
        <%= render 'untag', :user => user, :photo => photo %>
      <% end %>

    </div>

  <% end %>
</div>