<%= render 'photos_top_bar', :user => @user %>

<% @user.photos_uploaded.each do |photo| %>
<div class='photo'>
<%= link_to image_tag(photo.url), photo_url(photo) %>
</div>
<% end %>

<img src='http://us.123rf.com/400wm/400/400/anatolymas/anatolymas1205/anatolymas120500006/13451980-3d-small-person-illusionist-make-tricks-with-magic-hat--3d-image-isolated-white-background.jpg'
height="75" width="75">