<% if current_user == @user %>
  <%= render 'helpers/you', :user => current_user %>
<% else %>
  <%= render 'helpers/friend', :user => @user %>
<% end %>

<%= render 'photos_top_bar', :user => @user %>

<div class='photos group'>
  <% @user.photos_uploaded.each do |photo| %>
    <%= render 'photo', :photo => photo %>
  <% end %>

  <% if @user.photos_uploaded.count == 0 %>
  <div class='text heading'>No Uploaded Photos</div>
  <% end %>
</div>
