/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *



 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



/* basic stuff */

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}


ul, li {
  list-style: none;
}

li, .name, .text, input, button, a {
  font-family: sans-serif;
}

.link {
  padding: 8px;
  margin: 10px;
  background-color: lightgray;
}

input, button, submit {
  border: none;
  background-color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

input#text {
  border: 1px solid black;
}


submit {
  background-color: white;
}

.links {
  float: right;
}

.links > .link, .links > form > .link {
  float: left;
}

.submit-link {
  float: left;
}

.submit-link > input:hover {
  cursor: pointer;
}

.submit-link:hover, a:hover, submit:hover {
  cursor: pointer;
  color: darkgray;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.pic-and-name {
  float: left;
}




/* top bar */

.top-bar > .pic-and-name {
  float: left;
}

.top-bar > .pic-and-name > .pic {
  float: left;
}

.top-bar > .pic-and-name > .name {
  float: right;
  padding-top: 38px;
  padding-left: 20px;
  font-size: 20px;
}

.top-bar > .links {
  float: right;
  margin-top: 20px;
}

.top-bar > .links > li {
  float: left;
  padding: 10px;
  margin: 10px;
  background-color: lightgray;
}


.top-bar > .links > li > a:hover {
  color: darkgray;
}

.top-bar {
  margin-bottom: 50px;
}





/* individual user bar */

.user {
  margin-bottom: 30px;
}
.user > .pic-and-name {
  float: left;
}

.pic-and-name > .image {
  float: left;
}

.pic-and-name > .info {
  float: right;
  margin-left: 20px;
  margin-top: 26px;
  font-family: sans-serif;
}



.user > .links > li {
  float: left;
}

.user > .links > li, link,
.user > .links > .mutual-friends,
.user > .links > .add-friend
 {
  margin-top: 10px;
  margin-left: 30px;
  padding: 8px;
  background-color: lightgray;
}



/* non-friend */
.user > .links > .add-friend {
  float: left;
  padding: 8px;
}

.add-friend:hover {
  cursor: pointer;
}


.user > .links > .mutual-friends {
  float: right;
}



/* messages */

.message-thread > .message-header {
  float: left;
}

.message-thread > .message-header > .title {
  float: left;
  margin-top: 10px;
}

.message-thread > .message-header > .photo {
  float: left;
  padding-left: 40px;
}

.message-thread > .message-header > .text {
  float: right;
  padding-left: 60px;
  padding-top: 20px;
}


.message-thread > .delete {
  float: right;
}

.create-thread {
  margin-top: 20px;
  float: left;
}


.new-message > .title,
.new-message > .recipients,
.new-message > .message {
  padding-bottom: 20px;
}

.new-message > .title {
  margin-bottom: 20px;
}

.new-message > .title > .input {
  border: 1px solid black;
  float: left;
}

.new-message > .recipients > .text {
  padding-bottom: 4px;
}

.new-message > .submit > input {
  float: left;
}

.message {
  margin-bottom: 10px;
}

.message > .message-box {
  float: left;
  margin: 26px;
  margin-left: 40px;
}

.message > .message-box > .text {
  text-align: center;
}



/* stuff with friends */

.friend > .photo, .friend > .link, .friend > .pic-and-name {
  float: left;
}

.friend > .links > .link {
  margin: 20px;
}


.sent-request > .text {
  float: right;
}

.new-photo > .url, .new-photo > .comment, .new-photo > .checkbox {
  margin-bottom: 15px;
}

.new-photo > .url > .input > input {
  border: 1px solid gray;
}

.new-photo > .checkbox > .text {
  margin-bottom: 4px;
}

/* statuses, comments, replies */


.status, .new-status, .reply, .new-reply, .comment, .new-comment {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.new-status, .new-comment, .new-reply > .submit-link,  {
  font-weight: bold;
  margin-bottom: 40px;
}

.status > .links, .comment > .links, .reply > .links {
  float: right;
  min-width: 80%;
}

.status > .text, .reply > .text, .comment > .text {
  float: left;
  padding: 30px;
  padding-top: 26px;
}

.status > .pic-and-name, .reply > .pic-and-name, .comment > .pic-and-name {
  margin-right: 20px;
}

.replies {
  margin-left: 80px;
}

.status, .reply, .comment {
  font-size: 17px;
}

.new-reply > textarea {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
}



/* home pages */

.buttons {
  display: block;
  float: left;
  margin-bottom: 20px;
}

.sign-in {
  display: block;
  float: left;
  margin-top: 100px;
}

.sign-in > .text {
  margin-bottom: 10px;
}
.sign-in > form > .text-input > input {
  border: 1px solid black;
}


.sign-up {
  display: block;
  float: left;
  margin-top: 100px;
}

.sign-up > form > .text {
  margin-bottom: 10px;
}

.sign-up > form > .text-input > input {
  border: 1px solid black;
}

.comment {
  margin-bottom: 20px;

}

.submit-reply {
  float: left;
}


/* photos */



.new-photo > .photo-comment {
  margin-bottom: 20px;
}

/* profile creation and editing */

.heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.first-name > .input, .last-name > .input,
.job > input, .employer > input,
.current-city > input, .home-city > input,
.url > input {
  border: 1px solid black;
}

.first-name, .job, .current-city, .relationship-status {
  float: left;
  margin-right: 50px;
}

.last-name, .employer, .home-city, .interested-in {
  float: left;
}

.dates > .month, .dates > .day, .dates > .year {
  float: left;
  margin-right: 20px;
}

.profile-edit > .info {
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.about-me {
  margin-bottom: 20px;
}


/* showing photos */

.photo-show > .photo {
  float: left;
}

.photo-show > .links {
  width: 30%;
  float: right;
}

.photo-show > .form {
  float: right;
}

.people-tagged > .username {
  max-width: 20%;
  float: left;
  margin-top: 20px;
}

.people-tagged > .link {

  float: left;
}