/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *



 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



/* basic stuff */

.invisible {
  display: none;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}


ul, li {
  list-style: none;
}

li, .name, .text, input, button, a {
  font-family: sans-serif;
}

.link {
  padding: 8px;
  margin: 10px;
  margin-left: 0;
  background-color: lightgray;
}

input, button, submit {
  border: none;
  background-color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

input#text {
  border: 1px solid black;
}


submit {
  background-color: white;
}

.links {
  float: left;
  margin-top: 8px;
}

.links > .link, .links > form > .link {
  float: left;
}

.submit-link {
  float: left;
}

.submit-link > input:hover {
  cursor: pointer;
  color: darkgray;
}



.submit-link:hover, a:hover, submit:hover {
  cursor: pointer;
  color: darkgray;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.pic-and-name {
  float: left;
}




/* top bar */

.top-bar > .pic-and-name {
  float: left;
}

.top-bar > .pic-and-name > .pic {
  float: left;
}

.top-bar > .pic-and-name > .name {
  float: right;
  padding-top: 38px;
  padding-left: 20px;
  font-size: 20px;
}

.top-bar > .links {
  float: right;
  margin-top: 24px;
  margin-left: 5px;
  min-width: 70%;
  position: absolute;
  display: inline-block;
}

.top-bar > .links > li {
  float: left;
  padding: 7px;
  margin: 7px;
  background-color: lightgray;
}


.top-bar > .links > li > a:hover {
  color: darkgray;
}

.top-bar {
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}



/* individual user bar */

.user {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid black;
}
.user > .pic-and-name {
  float: left;
}

.result > .not-friend {
  border: 0;
  margin: 0;
  padding: 0;
}

.pic-and-name > .image {
  float: left;
}

.pic-and-name > .info {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 26px;
  font-family: sans-serif;
}



.user > .links > li {
  float: left;
}

.user > .links > li, link,
.user > .links > .mutual-friends,
.user > .links > .add-friend
 {
  margin-top: 10px;
  margin-left: 30px;
  padding: 8px;
  background-color: lightgray;
}



/* non-friend */
.user > .links > .add-friend {
  float: left;
  padding: 8px;
}

.add-friend:hover {
  cursor: pointer;
}


.user > .links > .mutual-friends {
  float: right;
}



/* messages */

.message-threads {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.message-thread {
  margin-bottom: 20px;
  width: 100%;
}

.message-thread > .message-header {
  float: left;
}

.message-thread > .message-header > .title {
  float: left;
  margin-top: 10px;
}

.message-thread > .message-header > .photo {
  float: left;
  padding-left: 40px;
}

.message-thread > .message-header > .text {
  float: right;
  text-align: center;
  padding: 20px;
  padding-right: 10px;
}



.create-thread {
  margin-top: 20px;
  float: left;
}

.new-message {
  padding-top: 25px;
}

.new-message > .title,
.new-message > .recipients,
.new-message > .message {
  padding-bottom: 20px;
}

.new-message > .title {
  margin-bottom: 20px;
}

.new-message > .title > .input {
  border: 1px solid black;
  float: left;
}

.new-message > .recipients > .text {
  padding-bottom: 4px;
}

.new-message > .submit > input {
  float: left;
}

.message {
  margin-bottom: 10px;
}

.message > .message-box {
  float: left;
  margin: 26px;
  margin-left: 40px;
}

.message > .message-box > .text {
  text-align: center;
}



/* stuff with friends */

.friend > .photo, .friend > .link, .friend > .pic-and-name {
  float: left;
}


.received-requests {
  padding-top: 5px;
  padding-bottom: 25px;
  border-bottom: 2px solid black;
}

.friends {
  padding-top: 25px;
}

.sent-request {
  width: 100%;
}

.received-request {
  width: 100%;
}

.mutual-friends {
  padding-top: 25px;
}

.new-photo {
  padding-top: 25px;
}

.new-photo > .url, .new-photo > .comment, .new-photo > .checkbox {
  margin-bottom: 15px;
}

.new-photo > .url > .input > input {
  border: 1px solid gray;
}

.new-photo > .checkbox > .text {
  margin-bottom: 4px;
}

.edit-photo-comment > .textarea {
  float: left;
  width: 100%;
}

.edit-photo-comment > .textarea > textarea {
  width: 20%;
}


/* statuses, comments, replies */

.statuses, .comments {
  margin-top: 10px;
  margin-bottom: 10px;
}


.status, .new-status, .reply, .new-reply, .comment, .new-comment {
  float: left;
  width: 100%;
  padding: 20px;
}

.new-reply {

  padding-top: 0;
  padding-left: 0;
  margin-left: 0;
  margin-top: 30px;
}

.status, .comment {
  padding-top: 25px;
  border-top: 2px solid black;
}

.status > .links, .comment > .links, .reply > .links {
  width: 100%;
}

.status > .links > .link {
  float: left;
}

.status > .text, .reply > .text, .comment > .text {
  float: left;
  width: 100%;
  background: beige;
}

.status > .pic-and-name, .reply > .pic-and-name, .comment > .pic-and-name {
  margin-right: 20px;
}

.replies {
  margin-left: 80px;
}

.status, .reply, .comment {
  font-size: 17px;
  border-bottom: 1px solid lightgray;
}

.new-reply > textarea {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
}

.likes {
  min-width: 300px;
  max-width: 400px;
}


.likes > .text {
  float: left;
  margin: 10px;
  margin-top: 17px;
}




/* home pages */

.buttons {
  display: block;
  float: left;
  margin-bottom: 20px;
}

.sign-in, .sign-up {
  display: block;
  float: left;
  margin-top: 100px;
}

.email, .password {
  padding: 15px;
  margin-bottom: 25px;

  border: 1px solid darkgray;
}

.email > .text, .password > .text {
  padding-bottom: 12px;
}

.email > input, .password > input {
  padding: 2px;
}

form > .text-input > input {
  border: 1px solid black;
}

.sign-in > form > .submit, .sign-up > form > .submit {
  padding: 13px;
  font-size: 18px;
}




.submit-reply {
  float: left;
}


/* photos */



.new-photo > .new-photo-comment {
  margin-bottom: 20px;
}


.photos, .tagged-photos {
  width: 360px;
}

.photos > .photo, .tagged-photos > .photo {
  float: left;
}

.photo-links {
  padding-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}



/* profile creation and editing */

.heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.first-name > .input, .last-name > .input,
.job > input, .employer > input,
.current-city > input, .home-city > input,
.url > input {
  border: 1px solid black;
}

.first-name, .job, .current-city, .relationship-status {
  float: left;
  margin-right: 50px;
}

.last-name, .employer, .home-city, .interested-in {
  float: left;
}

.dates > .month, .dates > .day, .dates > .year {
  float: left;
  margin-right: 20px;
}

.profile-show > .info {
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-show {
  padding-top: 25px;
}

.about-me {
  margin-bottom: 20px;
}


/* showing photos */

.photo-show {
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 2px solid black;
}

.photo-show > .photo {
  float: left;
}

.photo-show > .links {
  float: left;
  margin-left: 40px;
  min-width: 31%;
}

.person-tagged > .username, .untagged-friend > .username {
  max-width: 20%;
  float: left;
  margin-top: 20px;
}

.person-tagged > .link {
  float: left;
}

.person-tagged > .username, .untagged-friend > .username {
  margin-right: 20px;
}

.people-tagged {
  padding-bottom: 10px;
}

.photo-comment > .text {
  margin-bottom: 20px;
}

.tag-more-people {
  border-top: 2px solid black;
}

/* searching */

.search {
  padding-top: 30px;
}

.search > .search-form {
  float: left;
}

.search > .search-form > .query > input {
  border: 1px solid gray;
}

.user {
  width: 100%;
}

.search-results {
  padding-top: 25px;
}

.result {
  padding: 5px;
}


/* toggling likes */

