<% pending_friendship = current_user.pending_friendship_with(user) %>

<% if pending_friendship.user_id == current_user.id %>
  <div class='link pending'>Request Sent</div>
<% else %>
  <div class='link pending'>Request Received</div>
<% end %>