<%= render 'photos/photo', :photo => @photo_comment.photo %>

<form class='edit-photo-comment' action="<%= photo_comment_url(@photo_comment) %>" method="POST">
  <input name="_method" type="hidden"value="PUT">
  <%= render 'helpers/auth_token'%>

  <div class='text heading'>Comment:</div>

  <div class='textarea'>
    <textarea name="photo_comment[text]"><%= @photo_comment.text %></textarea>
  </div>

  <input type="submit" class="link submit-link" value="Update Comment">
</form>