<div class="pic-and-name group">
  <div class="image">
    <%= user.photo %>
  </div>

  <div class='info'>
    <div class='user-name text'>
      <%= user.name %>
    </div>
    <div class='user-email text'>
      <%= user.email %>
    </div>
  </div>
</div>